# Discord Bot Token
DISCORD_TOKEN=

# for WEB Youtube Clients
YOUTUBE_UA=
YOUTUBE_COOKIES=

# for ANDROID_VR Youtube Client
YOUTUBE_AUTH=

# for Search and extract info
SPOTIFY_COOKIES=


# Auto Generated Youtube Cookies for Session, if you not logged in
YOUTUBE_ANONCOOKIES=